@font-face {
    font-family: 'Ubuntu-bold';
    src: url('../fonts/ubuntu-b-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu-light';
    src: url('../fonts/ubuntu-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu-regular';
    src: url('../fonts/ubuntu-regular-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-medium';
  src: url('../fonts/ubuntu-medium-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gagalin';
  src: url('../fonts/gagalin-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lifehack';
  src: url('../fonts/lifehack_medium-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
