$yellow:#f9b43b;
$orange:#e45028;
$dark:#2f3234;
$lightOrange:#e25028;
$green:#8ac03e;

$tablets: 768px;
$phones: 480px;

@import "normalize";
@import "mixin";
@import "fonts";
@import "base";
@import "sections/hamburger-menu-link";
@import "sections/hamburger-menu";
@import "sections/hero";
@import "sections/best";
@import "sections/burger";
@import "sections/team";
@import "sections/reviews";
@import "sections/popup";
@import "sections/order";
@import "sections/map";
@import "sections/menu";

