.hamburger__menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#2f3234, .99);
	align-items: center;
	justify-content: center;
	z-index: 100;
	display: none;
	transition: opacity .3s;

	&_visible {
		display: flex;
		opacity: 0;
	}
}

.hamburger-menu__logo {
	position: absolute;
	top: 10px;
	left: 20px; /*отступ меньше чем на макете, чтобы лого совпадали*/
}

.hamburger-menu__close {
	position: absolute;
	top: 25px;
	right: 15px;
	cursor: pointer;
}
.hamburger__nav__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 25%;
}
.hamburger__nav__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	&:after {
        display: block;
        content: ' ';
        @include circle(7px, #fff);
        margin: 25px 0;
    }
    &:last-child:after {
        display: none;
    }
}
.hamburger__nav__link {
	margin: 0;
	padding: 0;
	color: #fff;
    font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
}

