.menu {
    background-image: url(../img/bg/menu_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;
}
.title_menu {
    color: #fff;
    margin-right: auto;
    margin-top: 90px;

    @include tablets {
        margin-top: 50px;
        margin-left: 6%;
    }
    @include phones {
        margin-right: 14%;
    }
}
.menu-acco {
    display: flex;
    text-align: center;
    color: #fff;
    font-family: 'Ubuntu-light';
    font-size: 14px;
}
.menu-acco__item {
    display: flex;
    width: 80px;

    &.active {
        .text__wrap {
            width: 60%;
            @include tablets {
                width: auto;
            }
        }
    }
}
.title__acco {
    color: #fff;
    font-family: 'Gagalin';
    font-size: 40px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;

    @include tablets {
        align-items: flex-end;
    }
}
.title__acco__meat {
    background-image: url(../img/bg/meat_eating.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title__acco__wrap {
    display: flex;
    transform: rotate(270deg);
}
.title__acco__wrap_1 {
    @include tablets {
        padding-left: 267px;
    }
}
a.title__acco__wrap_1_color, a.title__acco__wrap_2_color, a.title__acco__wrap_3_color {
    @include tablets {
        color: $yellow;
    }
}
.title__acco__wrap_2 {
    @include tablets {
        padding-left: 290px;
    }
}
.title__acco__wrap_3 {
    @include tablets {
        padding-left: 238px;
    }
}
.part1 {
    margin-right:15px;
}
.title__acco__vegetarian {
    background-image: url(../img/bg/vegetarian.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title__acco__diet {
    background-image: url(../img/bg/diet.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text__wrap {
    display: flex;
    width: 0;
    overflow: hidden;
    text-align: left;
    background: #3e3f3c;
    opacity:.93;

}
.text__wrap__meat {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 160px;

    @include phones {
        right: 0;
        z-index: 1;
    }
}
.text__wrap__vegetarian {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 80px;

    @include phones {
        right: 0;
        z-index: 2;
    }
}
.text__wrap__diet {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    @include phones {
        right: 0;
        z-index: 3;
    }
}
.menu-acco__text {
    padding: 60px 30px;
    position: relative;
    
    @include tablets {
        font-size: 14px;
        line-height: 1.6;
    }
    @include phones {
        padding: 60px 35px 0 35px;
    }
}
.menu-acco__closed {
    position: absolute;
    top: 30px;
    right: 60px;
    display: none;

    @include phones {
        display: block;
    }
}
