.popup {
	display: none;
}

.full-review {
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(#2e3133, .92);
	align-items: center;
	justify-content: center;
	z-index: 100;
    transition: opacity .3s;
    &_visible {
		display: flex;
        opacity: 0;
	}
}
.full-review__item {
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 50px;
    position: relative;
    border-radius: 5px;
    border: 1px transparent;
    display: none;

    @include tablets {
        margin: 0;
        margin: 0 auto;
        margin-top: 45%;
    }
    @include phones {
        width: 95%;
        margin: 0 auto;
        margin-top: 10%;
    }
}

.full-review__title {
    padding-top: 30px;
    font-family: 'Gagalin';
	font-size: 14px;
	text-transform: uppercase;
    padding-left: 20px; 
}

.full-review__content {
    font-family: 'Ubuntu-light';
    font-size: 14px;
    padding: 30px 20px;
}

.full-review__close {
	display: block;
    position: absolute;
    top: 20px;
    right: 20px;
	opacity: .7;
	transition: .3s;

	&:hover {
		opacity: 1;
	}
}
.status-popup {
    width: 197px;
    height: 107px;
    background-color: white;
    text-align: center;
    font-family: 'Ubuntu-light';
    font-size: 14px;
    border-radius: 5px;
    position: fixed;
    top: 40%;
    left: 40%;
    z-index: 150;
    box-shadow: 0 0 40px rgba(0, 0, 0 ,0.5);

    @include phones {
        left: 30%;
    }
}
.status-popup__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.status-popup__message {
    margin-top: 15px;
    margin-bottom: 15px;
}
.status-popup__close {
    width: 100px;
    height: 35px;
}
.error-message {
	color: red;
}
